html {
    box-sizing: border-box;
    font-size: 62.5%;/**Sirve para que 1rem sea igual a 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*header*/
header{
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-size: 2rem;
}
header h1{
    margin: 0;
    padding: 1rem;
    width: 100%;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: 0.1rem gray solid;
    border-radius: 1rem;
    width: 65%;
}
article h1{
    font-size: 3rem;
    margin-bottom: 0;
    color: darkslategrey;
}
article h2{
    font-size: 2.5rem;
    color: darkslategrey;
}
img{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
}
p{
    font-size: 1.5rem;
    margin: 1.5rem;
    background-color: lightgray;
    padding: 1rem;
    width: 96%;
    text-align: center;
}